body {
  font-family: "Linksans Linksansvf", sans-serif;;
  padding: 0;
  background: linear-gradient( 160deg, #10131a, #1f2330 40%, #0e1015 90%);
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}

.container {
  max-width: 420px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(260deg, #10131a, #2c344f 40%, #1b2131 90%);;
  backdrop-filter: blur(14px);
  border-radius: 28px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35);
  width: 100%;
  animation: fadeIn 0.4s ease-in-out;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 28px;
}

.pill-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* important */

  width: 48px;
  height: 48px;
  padding-left: 0; /* default, icon centered visually */
  background: #ffffff;
  border-radius: 50px;
  color: #222;
  text-decoration: none;
  overflow: hidden;

  cursor: pointer;
  transition:
    width 0.30s ease-out,
    padding-left 0.30s ease-out,
    box-shadow 0.38s ease-out,
    background 0.38s ease-out,
    color 0.38s ease-out;
  margin: 14px auto;
}

/* Icon stays centered as a circle */
.pill-btn i {
  font-size: 20px;
  position: absolute;
  color: #222;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.25s ease, transform 0.25s ease;
}

/* Label (hidden by default) */
.pill-btn span {
  opacity: 0;
  margin-left: 60px;  /* this positions text AFTER icon */
  white-space: nowrap;
  transform: translateX(10px);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

/* Hover expands right only */
.pill-btn:hover {
  width: 155px;
  padding-left: 18px; /* creates space for icon + text */
  box-shadow: 0 0 20px rgba(77, 80, 107, 0.45);
  background: #3e3e56;
  color: white;
}

/* Icon slides slightly left inside the pill */
.pill-btn:hover i {
  left: 42px;
  transform: translateX(0);
  color: white;
}

/* Text fades in cleanly */
.pill-btn:hover span {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.07s;
}

.footer {
  text-align: center;
  padding: 20px 0;
  color: #555;
  font-size: 14px;
}

@media (max-width: 400px) {
  .title {
    font-size: 24px;
  }

  .link-btn {
    font-size: 16px;
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}