.container {
  
}

.title {
  text-align: center;
}

.link-btn {
  display: block;
  text-decoration: none;
  background-color: ;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}
