@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  background: linear-gradient( 160deg, #10131a, #1f2330 40%, #0e1015 90%);
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}

.container {
  max-width: 420px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(260deg, #10131a, #2c344f 40%, #1b2131 90%);;
  backdrop-filter: blur(14px);
  border-radius: 28px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35);
  width: 100%;
  animation: fadeIn 0.4s ease-in-out;
}

.title {
  text-align: center;
  color: #f5f5f5;
  font-size: 28px;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 100%;
  max-width: 90px;          /* LIMIT width */
  margin: 10px auto;          /* CENTER them horizontally */

  padding: 14px 18px;

  background: #f5f5f5;
  border-radius: 28px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 17px;

  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  cursor: pointer;
}

.link-btn i {
  font-size: 20px;
  width: 24px; /* locks icon alignment */
  transition: transform 0.2s ease;;
}

.link-btn:hover {
  background: #384152;
  transform: translateY(-2px);
  color: #f5f5f5;
}

.footer {
  text-align: center;
  padding: 20px 0;
  color: #555;
  font-size: 14px;
}

@media (max-width: 400px) {
  .title {
    font-size: 24px;
  }

  .link-btn {
    font-size: 16px;
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}